<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
    <connectionStrings>
        <!--<add name="SainaDbContext" connectionString="server=.;database=Saina;trusted_connection=true" providerName="System.Data.SqlClient"/>-->
      <!--<add name="SainaDbContext" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Saina;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>-->
      <add name="SainaDbContext" connectionString="Data Source=.;Initial Catalog=SainaCyan;Integrated Security=False;User ID=sa;Password=123;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />

    </connectionStrings>
  <appSettings>
    <add key="LastLoginName" value="Admin" />
    <add key="Password" value="123" />
    <add key="RememberMe" value="true" />
    <add key="AccDocumentItemId" value="true" />
    <add key="AccDocumentItemSLId" value="true" />
    <add key="AccDocumentItemDL1" value="true" />
    <add key="AccDocumentItemDL2" value="true" />
    <add key="AccDocumentItemDescription1" value="true" />
    <add key="AccDocumentItemDescription2" value="true" />
    <add key="AccDocumentItemDebit" value="true" />
    <add key="AccDocumentItemCredit" value="true" />
    <add key="AccDocumentItemCurrencyAmount" value="true" />
    <add key="AccDocumentItemExchangeRate" value="true" />
    <add key="AccDocumentItemCurrencyId" value="true" />
    <add key="AccDocumentItemTrackingDate" value="true" />
    <add key="AccDocumentItemTrackingNumber" value="true" />
    <add key="AccDocumentHeadersDocumentNumber" value="true" />
    <add key="AccDocumentHeadersDailyNumber" value="true" />
    <add key="AccDocumentHeadersSystemFixNumber" value="true" />
    <add key="AccDocumentHeadersDocumentDate" value="true" />
    <add key="AccDocumentHeadersSystemName" value="true" />
    <add key="AccDocumentHeadersExporter" value="true" />
    <add key="AccDocumentHeadersSeconder" value="true" />
    <add key="AccDocumentHeadersHeaderDescription" value="true" />
    <add key="AccDocumentHeadersManualDocumentNumber" value="true" />
    <add key="AccDocumentHeadersStatus" value="true" />
    <add key="AccDocumentHeadersTypeDocument" value="true" />
    <add key="AccDocumentHeadersAmountDocument" value="true" />

  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
